# init.rc 

on init
	mkdir /dev/socket
	mkdir /etc/property
	mkdir /usr/local/lib/firmware
	export PATH /sbin:/usr/local/bin:/usr/sbin:/usr/bin:/bin

on early-boot
	class_start core

on boot
	class_start main

service adbd  /adbd
	class core
	critical

service logd  /logd
	class core
	critical
	disabled	
